# binaries
compare-signed
compare-unsigned
compare-avx512
verify
benchmark
statistics
verify_signed_input_validation
verify_sse_signed_conversion
verify_sse_unsigned_conversion
verify_sse_signed_parser
test-stni-matcher

# a helper file not included in this repo
sse-dump.h

# the rest
*.o
*.inl
*.pyc

perf.data
perf.data.old
